<% include ../partials/header %>

<div class="container ">
    <div class="row">
        <div class="col-md-3">
                    <p class="lead">Campgrounds</p>
                    <div class="list-group">
                        <li class="list-group-item active">1</li>
                        <li class="list-group-item active">12</li>
                        <li class="list-group-item active">122</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card text-white bg-success">

                <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
                <div class="container pl-3 pr-3 pt-3">
                    <h4 class="Inline card-title"><a ><%= campground.name %></a></h4>
                    <h4 class="Inline float-right">9.90$/night</h4>
                </div>
                <p class="pl-3 pr-3"><%= campground.description %></p>

                <div class="pr-3">
                <p class="float-right"><em>Posted by: <%= campground.author.username %></em></p>
                </div>

                <div class="container pb-3 pl-3">
                    <% if(currentUser){ %>
                    <% if(campground.author.id.equals(currentUser._id)){ %>
                        <form class="Inline" action="/campgrounds/<%= campground._id %>/edit"
                              method="GET">
                            <button class="btn-group btn-primary btn-lg">Edit campground</button>
                        </form>

                        <form class="Inline" action="/campgrounds/<%= campground._id %>?_method=DELETE"
                              method="POST">
                            <button class="btn-group btn-danger btn-lg float-right">Delete campground</button>
                        </form>

                    <% }} %>

                </div>

            </div>
            <div class="card text-white bg-secondary mt-4 mb-4">

                <div class="pt-3 pr-3">
                    <p>
                        <a class="float-right btn btn-warning btn-lg"
                           href="/campgrounds/<%= campground._id %>/comments/new">Add new comment</a>
                    </p>
                </div>

                <hr class="ml-3 mr-3">
                <% campground.comments.forEach(function(comment){   %>
                <div class="row mt-3 ml-1 mr-1 mb-2">
                    <div class="col-md-12">
                        <p>
                            <strong><%=comment.author.username%></strong>
                            <span class="float-right">10 days ago</span>
                            <br>
                            <%=comment.text%>
                        </p>
                        <a class="btn btn-sm btn-info"
                           href="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>">Edit</a>
                    </div>
                </div>
                <% }); %>

            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>